<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="HubIP" value="172.16.194.57" />
		<add key="RemoteFilePath" value="/home/pi/Desktop" />
		<add key="Username" value="RoboMower" />
		<add key="Password" value="RobotMower2022!" />
	</appSettings>
</configuration>